@page "/notifications"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Notifications</h3>

@if (NotificationsState.Value.Items.Count() > 0)
{
    <RadzenStack Gap="0" class="rz-py-8 rz-px-12">
        @foreach (var notification in NotificationsState.Value.Items.OrderByDescending(n => n.Timestamp))
        {
            <RadzenAlert Close=@(() => Delete(notification))>
                @notification.Content @notification.Timestamp
            </RadzenAlert>
        }
    </RadzenStack>
}
else
{
    <RadzenText Text="Pas de notification" />
}