@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

@using Microsoft.AspNetCore.Authentication

<PageTitle>Home</PageTitle>

<h1>Hello @firstname @lastname</h1>

<span>Welcome to your new app.</span>

@code
{
    [CascadingParameter] private Task<AuthenticationState>? AuthState { get; set; }
    private string? firstname;

    private string? lastname;

    protected override async Task OnInitializedAsync()
    {
        if (AuthState == null)
        {
            return;
        }

        var authState = await AuthState;
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            firstname = user.FindFirst(c => c.Type == "firstname")?.Value;
            lastname = user.FindFirst(c => c.Type == "lastname")?.Value;
        }
    }
}