<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <RadzenTheme Theme="material" @rendermode="@RenderMode.InteractiveServer" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="application_recip.styles.css" />
    <HeadOutlet />
</head>

<body>
    ﻿
    <Fluxor.Blazor.Web.StoreInitializer @rendermode="@RenderMode.InteractiveServer" />

    <RadzenComponents @rendermode="@RenderMode.InteractiveServer" />

    <Routes @rendermode="@RenderMode.InteractiveServer" />

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Fluxor.Blazor.Web/scripts/index.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>
